html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Apple_B';
    src: url('./fonts/AppleSDGothicNeoB.ttf');
}

@font-face {
    font-family: 'Apple_EB';
    src: url('./fonts/AppleSDGothicNeoEB.ttf');
}

@font-face {
    font-family: 'Apple_H';
    src: url('./fonts/AppleSDGothicNeoH.ttf');
}

@font-face {
    font-family: 'Apple_L';
    src: url('./fonts/AppleSDGothicNeoL.ttf');
}

@font-face {
    font-family: 'Apple_M';
    src: url('./fonts/AppleSDGothicNeoM.ttf');
}

@font-face {
    font-family: 'Noto_BL';
    src: url('./fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
    font-family: 'Apple_T';
    src: url('./fonts/apple-sd-gothic-neo-thin.otf');
}


body {
    /* max-width: 1920px; */
}

.heading_bar {
    width: 100%;
    min-width: 1180px;
    height: 41px;
    background-color: #f4f4f7;
    line-height: 41px;
}

.heading_bar_contents {
    vertical-align: middle;
    height: 41px;
    margin: 0 auto;
    width: 1180px;
    display: flex;
    justify-content: space-between;
}

.heading_bar_contents_chat {
    width: 199px;
    background-color: #e4e4eb;
    text-align: center;
    font-family: 'Apple_B';
    cursor: pointer;
}

.heading_bar_contents_function {
    font-family: 'Apple_L';
}

.heading_bar_contents_function div {
    display: inline-block;
    margin-right: 11px;
    cursor: pointer;
}

.heading_bar_contents_function div:last-child {
    margin-right: 0;
}

.menu {
    width: 100%;
    min-width: 1180px;
    height: 98px;
    line-height: 98px;
    border-bottom:1px solid #c9c9c9;
    margin-bottom: 17px;
}

.menu_contents {
    vertical-align: middle;
    height: 98px;
    margin: 0 auto;
    width: 1180px;
    display: flex;
    justify-content: space-between;
}

.menu_contents_menu div {
    cursor: pointer;
    font-family: 'Apple_B';
    font-size: 18px;
    letter-spacing: -0.9px;
    display: inline-block;
    margin-right: 40px;
}

.menu_contents_menu div:last-child {
    margin-right: 0;
}

.visual {
    width: 100%;
    background-color: #ebf3ff;
}

.visual_image {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

.visual_image_text {
    width: 1180px;
    margin: 0 auto;
}


.visual_image_text_box {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    /* border-left: 1px solid #bac0c8; */
    
}

.visual_image_text_box_1 {
    border-left: 2px solid black;
    padding-left: 32px;
}

.visual_image_text_box div:first-child div:first-child {
    font-family: 'Apple_B';
    font-size: 27px;
    letter-spacing: -1.35px;
    margin-bottom: 16px;
    color: #634d9d;
}

.visual_image_text_box div:first-child div:nth-child(2) {
    font-family :'Apple_L';
    font-size: 27px;
    letter-spacing: -1.35px;
    color: #634d9d;
}

.visual_image_text_box_2
{
    border-left: 1px solid #bac0c8;
    padding-top: 32px;
    padding-left: 49px;
}

.visual_image_text_box div:nth-child(2) div:nth-child(1){
    font-family: 'Apple_B';
    font-size: 55.5px;
    letter-spacing: -.1.39px;
    color: #634d9d;
    margin-bottom: 37px;
    text-shadow: 0px 1px 1px rgba(38, 32, 51, 0.46);
}

.visual_image_text_box div:nth-child(2) div:nth-child(2) {
    font-family: 'Apple_B';
    font-size: 22px;
    letter-spacing: -0.55px;
    color: rgba(67, 186, 166, 0.9);
    margin-bottom: 47px;
}

.visual_image_text_box div:nth-child(2) div:nth-child(3) {
    font-size: 14.5px;
    color: #43baa6;
    font-family: 'Noto_BL';
    padding: 18px 40px;
    border: 1px solid #43baa6;
    display: inline-block;
    cursor: pointer;
}

.visual_honor {
    background-color: #393941;
    height: 115px;
    min-width: 1180px;
    width: 100%;
}

.visual_honor_contents{
    width: 1180px;
    margin: 0 auto;
}

.firstline {
    margin-top: 62px;
    width: 100%;
    min-width: 1180px;
    margin-bottom: 67px;
}

.firstline_contents {
    display: flex;
    width: 1180px;
    margin: 0 auto;
}

.firstline_contents_notification {
    width: 820px;
}

.firstline_contents_notification_flex {
    display: flex;
}


.firstline_contents_notification_title {
    font-family: 'Apple_EB';
    font-size: 21.5px;
    letter-spacing: -1.08px;
    color: #ffffff;
    padding: 24px 104px;
    background-color: #494951;
}

.firstline_contents_notification_plus {
    width: 540px;
    text-align: right;
}

.firstline_contents_notification_plus_1 {
    border-bottom: 2px solid #959593;
    display: flex;
    justify-content: space-between;
    height: 36px;
}

.firstline_contents_notification_plus_1_1 {
    cursor: pointer;
    width: 29px;
    height: 29px;
    background-color: #959593;
    text-align: center;
    line-height: 29px;
    color: white;
    border-radius: 3px;
    font-size: 14px;
}

.firstline_contents_notificationcontents {
    margin-top: 33px;
    display: flex;
}

.box {
    cursor: pointer;
    width: 259px;
    height: 245px;
    background-color: #f6f6f6;
    padding-top: 39px;
    padding-left: 33px;
    padding-right: 46px;
    padding-bottom: 36px;
}



.box1 {
    margin-right: 21px;
}

.box2 {
    margin-right: 21px;
}

.box div:first-child{
    font-family: 'Apple_M';
    font-size: 15.5px;
    letter-spacing: -0.39px;
    color: #3e4d97;
    margin-bottom: 14px;
}

.box div:nth-child(2){
    font-family: 'Apple_B';
    color: #333333;
    font-size: 17.5px;
    letter-spacing: -0.44px;
    margin-bottom: 21px;
}

.box div:nth-child(3) {
    font-family: 'Apple_L';
    font-size: 14.5px;
    letter-spacing: -0.34px;
    color: #777777;
    margin-bottom: 30px;
}

.box div:nth-child(4){
    font-family: 'Apple_M';
    font-size: 14.5px;
    letter-spacing: -0.36px;
    color: #777777;;
}

.firstline_contents_shortcuts{
    margin-left: 40px;
    width: 315px;
    height: 345px;
    background-image: url('./img/Layer\ 1446.png');
    padding: 34px 35px;
}

.firstline_contents_shortcuts_title {
    font-family: 'Apple_B';
    font-size: 21.5px;
    letter-spacing: -1.08px;
    color: white;
}

.firstline_contents_shortcuts_btns {
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    width: 90px;
}

.btn_imo {
    margin-left: 10px;
    width: 70px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    line-height: 70px;
    margin-bottom: 13px;
}

.btn_text{
    font-family: 'Apple_M';
    font-size: 15px;
    letter-spacing: -0.75px;
    color: white;
}

.btn_text1 {
    margin-left: 15px;
    margin-bottom: 20px;
}

.btn_text2 {
    margin-left: 25px;
    margin-bottom: 20px;
}

.btn_text3 {
    margin-left: 22px;
}

.btn_text4 {
    margin-left: 31px;
}

.center {
    width: 100%;
    min-width: 1180px;
    background-color: #f7f6f5;
    padding-bottom: 79px;
}

.center_contents {
    padding-top: 67px;
    width: 1180px;
    margin: 0 auto;
}

.center_contents_title {
    text-align: center;
    font-family: 'Apple_B';
    font-size: 34.5px;
    letter-spacing: -0.86px;
    color: #353535;
    margin-bottom: 18px;
}

.center_contents_text {
    text-align: center;
    font-family: 'Apple_T';
    font-size: 16.5px;
    letter-spacing: -0.41px;
    color: #7a7a7a;
}

.center_contents_photos{
    display: flex;
    margin-top: 48px;    
}

.center_contents_photos_0 {
    padding-top: 44px;
    text-align: center;
    position: relative;
    width: 270.4px;
    height: 259px;
}

.center_contents_photos_1{
    margin-right: 34.6px;
    background-image: url(./img/1.png);
}

.center_contents_photos_2{
    margin-right: 34.6px;
    background-image: url(./img/2.png);
}

.center_contents_photos_3{
    margin-right: 34.6px;
    background-image: url(./img/3.png);
}

.center_contents_photos_4{
    background-image: url(./img/4.png);
}

.layer {
    padding-top: 44px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transition: 0.3s;
}

.layer div:nth-child(1){
    font-family: 'Apple_B';
    font-size: 22px;
    letter-spacing: -0.55px;
    color: white;
    margin-bottom: 28px;
}

.layer div:nth-child(2){
    font-family: 'Apple_T';
    font-size: 16.4px;
    letter-spacing: -0.41px;
    color: white;
    margin-bottom: 28px;
}

.layer div:nth-child(3){
    font-family: 'Apple_B';
    font-size: 16.5px;
    letter-spacing: -0.41ox;
    color: white;
    margin-bottom: 24px;
}

.layer div:nth-child(4){
    width: 116px;
    height: 35px;
    font-family: 'Apple_B';
    font-size: 14.5px;
    letter-spacing: -0.36px;
    color: #292929;
    background-color: #f9f7f9;
    border-radius: 17.5px;
    text-align: center;
    line-height: 35px;
    margin-left: 80px;
    cursor: pointer;
}

.layer:hover {
    background-color: #6e78ff;
}

.layer:hover div:nth-child(4){
    background-color: #292929;
    color: #52bfad;
    cursor: pointer;
}

.video {
    width: 100%;
    min-width: 1180px;
    background-color: #71d8e9;
}

.video_contents {
  
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 84px;
    padding-bottom: 82px;
}

.video_contents_text_title {
    font-family: 'Apple_B';
    font-size: 34.5px;
    line-height: 44px;
    letter-spacing: -0.86px;
    color: #304345;
    margin-bottom: 39px;
}

.video_contents_text_title span {
    font-family: 'Apple_T';
}

.video_contents_text_description {
    font-family: 'Apple_T';
    font-size: 16.5px;
    line-height: 26px;
    letter-spacing: -0.41px;
    color: #505050;
}

.photos {
    width: 100%;
    min-width: 1180px;
    margin: 0 auto;
}

.photos_contents{
    text-align: center;
    padding-top: 83px;
}

.photos_contents div:first-child{
    font-family: 'Apple_B';
    font-size: 34.5px;
    letter-spacing: -0.86px;
    color: #353535;
}

.photos_contents div:nth-child(2){
    font-family: 'Apple_T';
    font-size: 16.5px;
    letter-spacing: -0.41px;
    color: #7a7a7a;
    margin-bottom: 34px;
    margin-top: 18px;
}

.sldierwrapper {

    background-image: url(./img/22.png);
    background-repeat: repeat;
}

.slider{
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    margin: 0 auto;
}

.layer2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 480px;
    height: 333px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.layer3 {
    position: absolute;
    right: 0;
    top: -18px;
    width: 480px;
    height: 333px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.left_chevron{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 480px;
}

.right_chevron{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 480px;
}

.chevron {
    color: white;
    font-size: 20px;
}

.sliderimage {
    transition: 300ms;
    /* transform: translateX(-3600px); */
}


.footer {
    min-width: 180px;
    margin-top: 83px;
    border-top: 1px solid #d7d7d7;
    background-color: #f0f0f0;
}

.footer_contents {
    margin-top: 25px;
    background-color: #f0f0f0;
    width: 1180px;
    height: 208px;
}





